@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-mint 
        cursor-pointer 
        hover:bg-green-300
        text-3xl
        md:text-5xl;
        font-family: Spinnaker;
        
    }
    h2 {
        @apply text-lg
        lg:text-3xl;
    }
    h3 {
        @apply text-sm
        lg:text-xl;
    }
    h4 {
        @apply text-lg
        lg:text-3xl;
    }
    h5 {
        @apply text-base
        md:text-2xl;
    }
    p {
        @apply text-xl;
    }
}

@layer components {
    .disclaimer-text {
        @apply text-xs
        md:text-base;
    }
    .btn {
        @apply text-sm
        md:text-base
        lg:text-2xl
        active:bg-gray-500
        hover:bg-red-500
        hover:text-white
        cursor-pointer
        border-gray-500
        border-4
        rounded-md
        inline-block
        p-2
        mt-2
        mb-4;
    }
  

    .btn-royal {
        @apply hover:bg-purple-500
        border-purple-50;
    }


}