@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-green-500 text-9xl cursor-pointer hover:bg-green-300;
        font-family: Spinnaker;
        font-size: 3rem;
    }
    h2 {
        @apply text-yellow-500;
    }
}

@layer components {
    .btn {
        @apply active:bg-gray-500
        hover:bg-red-500
        hover:text-white
        cursor-pointer
        border-gray-500
        border-4
        rounded-md
        inline-block
        p-2
        mt-2
        mb-4;
    }
  

    .btn-royal {
        @apply hover:bg-purple-500
        border-purple-50;
    }
}