@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-mint 
        cursor-pointer 
        hover:bg-green-300
        text-3xl
        md:text-5xl;
        font-family: Spinnaker;
        
    }
    h2 {
        @apply text-lg
        lg:text-3xl;
    }
    h3 {
        @apply text-sm
        lg:text-lg;
    }
    h4 {
        @apply text-lg
        lg:text-3xl;
    }
    h5 {
        @apply text-base
        md:text-2xl;
    }
    p {
        @apply text-xl;
    }
}

@layer components {
    .disclaimer-text {
        @apply text-xs
        md:text-base;
    }

    .btn {
        @apply text-sm
        md:text-base
        lg:text-2xl
        font-bold
        border-2
        p-1
        px-4
        mt-2
        mb-4
        cursor-pointer
        inline-block
    }
    
    .btn-primary {
        @apply
        text-blue
        bg-mint
        border-mint

        hover:text-mint
        hover:bg-blue
        hover:border-mint


    }
    .btn-primary-reverse {
        @apply text-mint
        bg-blue
        border-mint

        hover:text-blue
        hover:bg-mint
        hover:border-mint
    }
    .btn-secondary {
        @apply text-blue
        bg-creme
        border-blue

        hover:text-creme
        hover:bg-blue
        hover:border-blue
    }  
    .btn-secondary-reverse{
        @apply text-creme
        bg-blue
        border-blue

        hover:text-blue
        hover:bg-creme
        hover:border-blue
    }  


}
